<div>
<!-- <footer> -->
    <div id="footer"><br>
        <nav>
            <a href='https://www.google.co.in/maps/place/Parvathapuram,+Telangana+509385/@16.4718092,78.4398503,14z/data=!3m1!4b1!4m5!3m4!1s0x3bca6f6a17eb0c5f:0xe8b3b3460f6975bf!8m2!3d16.4704804!4d78.4609854' >Location   </a>
            <a href='https://www.facebook.com/search/top?q=janumpally' >facebook   </a>
            <a  href='https://www.instagram.com/?hl=en' >instagram   </a>
            <a href='https://twitter.com/login?lang=en' >twitter   </a>
            <a href='http://www.onefivenine.com/india/villages/Mahbubnagar/Telkapalle/Parvathapur' >Parvathapuram   </a>
        </nav>
        <p>A family when lives together with all family members up to 2nd generation like grand parents, parents, uncle, aunts and their children is called a  joint family. The importance of joint family is understood by the Indians since time immemorial.</p>
        <p style="text-align:center">@Created by janumpally Sandeep Reddy from<a href='https://nebulogic.com'>NebuLogic IT solutions</a></p>
    </div>
<!-- </footer> -->
</div>
