<div class ="container-fluid">
    <h2 [ngStyle]="styleRegister">Registration page</h2>
    <!-- <p style="background-color: yellow;" dir="rtl"  > Date  :   {{today| date}}</p> -->
    
    
    
    
    <form [formGroup]="registrationForm" (ngsubmit)="registrationForm.valid && onSubmit()"  >
    {{registrationForm.value |json}}
    <div class="form-group">
    <label>UserName :</label>
    <input  [class.is-invalid]="f.userName.invalid && f.userName.touched "  type ="text"   formControlName="userName"  class =form-control >
    <div *ngIf="(f.userName.invalid && f.userName.touched )|| empty ">
        <small *ngIf="f.userName.errors?.required">userName is required</small>
        <!-- <small *ngIf="f.userName.errors?.minlength  ">userName required minimum 3 characters</small> -->
        <small *ngIf ="f.userName.errors?.Number; else mini">only alphabets required</small>
        <ng-template #mini>
          <small *ngIf="f.userName.errors?.minlength  ">userName required minimum 3 characters</small>
        </ng-template>
  
        <small *ngIf ="f.userName.errors?.specialCharacter">special characters are not allowed </small>
      <!-- <small *ngIf="f.userName.errors?"></small> -->
      </div>
    </div>
    
    <div class="form-group">
    <label>Password :</label><br>
    <small>/*atleast one  letter should be uppercase</small><br>
    <small>atleast 8 characters</small><br>
    <small>atleast one special character */</small><br>
    <!-- <input type ="password" [class.is-invalid]="password.invalid && password.touched " formControlName="password" class =form-control> -->
    <div class="input-container">
        <input [type]="field ? 'password' :'text'"  [class.is-invalid]="f.password.invalid && f.password.touched " formControlName="password" class =form-control>
        <i class="material-icons" (click)="field=!field" >{{field ? 'visibility_off' :'visibility'}}</i>
    </div>
    <div *ngIf="(f.password.invalid && f.password.touched)|| empty">
    <small *ngIf="f.password.errors?.required; else password">Password is required</small>
    <ng-template #password>
    <small *ngIf="f.password.errors?.pattern">password is invalid</small>
    </ng-template>
    <!-- <small *ngIf="password.errors?.minlength">password must be at least 8 characters</small> -->
    
    </div>
    </div>
    <div class="form-group">
    <label>confirm Password :</label>
    <!-- <input type ="password" [class.is-invalid]="registrationForm.errors?.misMatch || (confirmPassword.invalid && confirmPassword.touched) "   formControlName="confirmPassword" class =form-control> -->
    <div class="input-container"  >
        <input [type]="field1 ? 'password' :'text'" [class.is-invalid]="registrationForm.errors?.misMatch || (confirmPassword.invalid && confirmPassword.touched) "   formControlName="confirmPassword" class =form-control>
        <i class="material-icons" (click)="field1=!field1" >{{field1 ? 'visibility_off' :'visibility'}}</i>
    </div>
    <div *ngIf="(f.confirmPassword.invalid && f.confirmPassword.touched) || empty || registrationForm.errors?.misMatch">
        <small *ngIf="f.confirmPassword.errors?.required;else confirm">confirmPassword is required</small>
       
   <small *ngIf="f.confirmPassword.errors?.pattern">password is invalid</small>
   <ng-template #confirm>
    <small *ngIf = "registrationForm.errors?.misMatch">Password do not match</small>
</ng-template>
      </div>
    </div>
    
    <div class="form-group">
    <label>Email :</label>
    <input type="email" [class.is-invalid]="f.email.invalid && f.email.touched " formControlName="email" class =form-control>
    <div *ngIf="(f.email.invalid && f.email.touched) ||empty">
        <small *ngIf="f.email.errors?.required; else email">email is required</small>
      <ng-template #email>
        <small *ngIf="f.email.errors?.pattern"> should  be in format</small>
      </ng-template>
      </div>
    </div>
    <!-- <button type="submit" class="btn btn-primary"   [disabled]="!registrationForm.valid" (click)="onSubmit()">Register </button> -->
    <!-- <button type="submit" *ngIf="registrationForm.invalid; else elseBlock" class="btn btn-primary"  
     (click)="onSubmit()">Register </button> -->
<!-- <ng-template #elseBlock> -->
  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="onSubmit()">Register </button>
<!-- 
</ng-template> -->


    <button   (click)="loadAPI()" id="reset" class="btn btn-primary">Reset</button>
    </form>
<div style="margin-top: 100px;">
  <app-footer-page></app-footer-page>
</div>
<!-- gettin data from backend --> 
    <!-- <div *ngFor ="let lst of listRegister">
      {{lst.id}}{{lst.password}}
    </div> -->
   
    <!-- popup details -->
    <!-- <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Register or Sign-in
              </h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              Great! We just need to register you first - it's secure and takes just 2 minutes
            </div>
            <div class="modal-footer">
              <div id="register">
              <button type="button"   class="btn btn-danger" routerLink="/signin"  data-dismiss="modal">Register</button>
              </div>
              <div id="cls">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
     -->
