<div class ="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <app-nav-bar></app-nav-bar>
        </div>
        <div class="col-sm-10">
<h3>JANUMPALLY  SECOND GENERATION</h3>
<div class="form-group">
    <input  id="search" type="text" class ="form-control" placeholder="Search By Name" style="width: 300px" [(ngModel)]="searchTerm">
</div>
    <div id ="about">
<h6 *ngFor="let secondGeneration of secondGenerations| familyFilter:searchTerm">{{secondGeneration.id}} {{secondGeneration.name}}</h6>
<h3>{{errorMsg}}</h3>

</div>
<br><br><br><br><br><br>
<button  class="btn btn-info"  style="margin-left: 200px;"  (click)="aboutSecond()" >More details about Second Generation</button>
<router-outlet></router-outlet><br><br>
<button  class ="btn btn-info" (click)="back()">back</button>
<!-- <button  class="btn btn-success" id="second" routerLink ="/thirdgeneration" >Third Generation</button> -->
</div>
    </div>
    <div style="margin-top: 0px;">
        <app-footer-page></app-footer-page>
      </div>
    </div>